body {
  padding-top: 50px
}

header {
  text-align: center;
  background-image: url(http://merrittlawrenson.com/img/1.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  padding: 250px 0px 250px 0px;
}

#page2 {
  text-align: center;
  background: url(http://merrittlawrenson.com/img/16.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

#page3 {
  text-align: center;
  color: white;
  background: url(http://merrittlawrenson.com/img/3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

#page4 {
  background: url(http://merrittlawrenson.com/img/15.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

#page4 h1 {
  text-align: center;
}